<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container container_header">
            <div class="row">
                <div class="div_logo_eradrs" style="position: relative">
                    <a class="logo_sbc_anchor" href="https://www.sbc.org.br/" target="_blank">
                        <span>Realização:</span>
                        <br />
                        <img class="logo_sbc" src="/logo-sbc-200x200.png" alt="logo sbc" />
                    </a>
                    <a class="logo_eradrs_anchor" href="/eradrs2026/">
                        <img class="p-1 logo_eradrs" src="img/eradrs2026_transparente_278.png" alt="logo eradrs 2026" />
                    </a>
                </div>
            </div>
            <!--<h1 class="display-6 text-white text-center">XXVI Escola Regional de Alto Desempenho da Região Sul</h1>-->
            <h4 class="display-8 text-white text-center">Bagé - Rio Grande do Sul, 6 a 8 de Maio</h4>
        </div>
    </div>
</header>
